<div class="medication-plan">
  <div *ngIf="medicationPlan.morningMedications.length > 0">
    <h3>Morning Medications:</h3>
    <div *ngFor="let morningMed of medicationPlan.morningMedications">
      <p>{{morningMed.id}}</p>
      <p>{{morningMed.reason}}</p>
      <hr>
    </div>
  </div>

  <div *ngIf="medicationPlan.lunchMedications.length > 0">
    <h3>Morning Medications:</h3>
    <div *ngFor="let lunchMed of medicationPlan.lunchMedications">
      <p>{{lunchMed.id}}</p>
      <p>{{lunchMed.reason}}</p>
      <hr>
    </div>
  </div>

  <h3>Evening Medications:</h3>
  <div *ngIf="medicationPlan.eveningMedications.length > 0">
    <div *ngFor="let eveningMed of medicationPlan.eveningMedications">
      <p>{{eveningMed.id}}</p>
      <p>{{eveningMed.reason}}</p>
      <hr>
    </div>
  </div>

  <button (click)="savePlan()">Save this plan</button>
</div>
