<div>
  <app-time-section [medications]="medicationPlan.morningMedications"
                    title="Morning"></app-time-section>

  <app-time-section [medications]="medicationPlan.lunchMedications"
                    title="Lunch"></app-time-section>

  <app-time-section [medications]="medicationPlan.eveningMedications"
                    title="Evening"></app-time-section>

  <app-time-section [medications]="medicationPlan.nightMedications"
                    title="Night"></app-time-section>

  <app-time-section [medications]="medicationPlan.specialMedications"
                    title="Special"></app-time-section>

  <app-time-section [medications]="medicationPlan.selfMedications"
                    title="Self Applied"></app-time-section>

  <button (click)="savePlan()">Save this plan</button>
</div>
